[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/louist103/ZAPDTR.git
[submodule "libultraship"]
	path = libultraship
	url = https://github.com/YoshiCrystal9/libultraship.git
	branch = main-nx
