[submodule "ZAPDTR"]
	path = ZAPDTR
	url = https://github.com/HarbourMasters/ZAPDTR.git
[submodule "libultraship"]
	path = libultraship
	url = https://github.com/YoshiCrystal9/libultraship.git
	branch = main-nx
[submodule "OTRExporter"]
	path = OTRExporter
	url = https://github.com/HarbourMasters/OTRExporter.git
	branch = 2ship-satoko
